/* Target the root element and define the following custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-gray: #f3f3f3;
    --color-dark-gray: #353535;
    --color-text: var(--color-black);
}

/* Revisit the section-tagline declarations and reset their color to color-primary */
.section-tagline
.card-category
{
    color: var(--color-primary);
}

/* Revisit the body declarations and reset their color to text-color */
body
a
{
    color: var(--color-text);
}
