/* Effortless transitions when scrolling */
html {
    scroll-behavior: smooth;
}

/* Revisit the body declarations and reset their color to text-color */
body {
    color: var(--text-color);
}

/* Revisit the anchor declarations and reset their color to text-color */
a {
    color: var(--text-color);
}

/* All elements with the class visually-hidden should have their display to none */
.visually-hidden {
    display: none;
}

/* Revisit the card-category declarations and reset their color to color-primary */
.card-category {
    color: var(--color-primary);
}

/* Revisit the section-tagline declarations and reset their color to color-primary */
.section-tagline {
    color: var(--color-primary);
}

/* Target the root element and define the following custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-gray: #f3f3f3;
    --color-dark-gray: #353535;
    --text-color: var(--color-black);
}